.item {
  padding-bottom: 15px;
  border-bottom: 1px solid #E8E8E8;
}

.item-header {
  height: 35px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.item-header .left-icon,
.item-header .right-icon {
  margin-top: 5px;
}

.item-header .item-header-avatar img{
  border-radius: 50%;
  height: 20px;
}

.item-header .item-header-username{
  margin-top: 7px;
  border-radius: 50%;
  height: 20px;
  font-size: 12px;
  color: #67616D;
  font-weight: bold;
}

.item-header .item-header-channel{
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 30px;
  font-size: 12px;
  border: 1px solid #D3C1E5;
  color: #D3C1E5;
}

.item-content {
  padding-left: 20px;
  padding-right: 20px;
}

.item-content .item-content-title {
  font-size: 18px;
  font-weight: bold;
  color: #453257;
  margin-top: 5px;
  margin-bottom: 5px;
}

.item-content .item-content-clock,
.item-content .item-content-time {
  font-size: 12px;
  color: #D3C1E5;
  margin-right: 5px;
}

.item-content .item-content-text {
  font-size: 14px;
  color: #67616D;
  margin-top: 10px;
  margin-bottom: 5px;
}

.item-content-check-green {
  color: #AECB4F;
}

.item-content-check-white {
  color: #AC8EC9;
}

.item-content-heart-red {
  color: #FF5C5C;
  margin-left: 20px;
}

.item-content-heart-white {
  color: #AC8EC9;
  margin-left: 20px;
}

.item-content-icon {
  font-size: 12px;
  margin-right: 3px;
}

.item-content .item-content-footer-text-normal {
  color: #453257;
}

.item-content .item-content-footer-text-fade {
  color: #AC8EC9;
}

.item-content .item-content-check-text,
.item-content .item-content-heart-text {
  font-size: 12px;
}

.item-content .item-content-image {
  margin-top: 10px;
  width: 100%;
}

.item-content .right-column {
  padding-left: 0;
}