.item-comment {
  display: table;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.item-comment-left-col {
  display: table-cell;
  padding-left: 20px;
  width: 32px;
  vertical-align: top;
}

.item-comment-right-col {
  display: table-cell;
  padding-left: 15px;
  width: calc(85% - 57px);
  vertical-align: top;
}

.item-comment-left-col img{
  width: 100%;
  border-radius: 50%;
  margin-top: 4px;
  cursor: pointer;
}

.item-comment-right-col .item-comment-name{
  font-size: 12px;
  color: #8560A9;
  margin-right: 10px;
  cursor: pointer;
}

.item-comment-right-col .item-comment-time{
  font-size: 10px;
  color: #BABABA;
}

.item-comment-right-col .item-comment-content{
  font-size: 14px;
  color: #67616D;
  margin-top: 5px;
}

.item-back-button {
  position: absolute;
  right: 20px;
  top: 5px;
  color: #D5EF7F;
  cursor: pointer;
}