.user-profile .item {
  padding-bottom: 0;
}

.item-title-section {
  margin-top: -5px;
  margin-bottom: -5px;
}

.item-name-section {
  display: table;
  margin-top: 20px;
}

.item-name-section div {
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
}

.item-name-section div img{
  border-radius: 50%;
  height: 36px;
}

.item-name-section div p{
  margin: 0;
}

.item-name-section .item-username{
  font-size: 14px;
  color: #67616D;
  margin-bottom: 5px;
}

.item-name-section .item-publish{
  font-size: 12px;
  color: #BABABA;
}

.item-button-section {
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
}

.item-button-section .item-button-section-row {
  display: table;
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
}

.item-button-section .item-button-section-row div{
  display: table-cell;
  width: 40%;
  text-align: center;
  border-right: 1px solid #E8E8E8;
}

.item-button-section .item-button-section-row div:first-child,
.item-button-section .item-button-section-row div:last-child {
  width: 30%;
}

.item-button-section .item-button-section-row div:last-child{
  border: 0;
}

.item-button-section .item-button-section-row div:hover span{
  color: #AECB4F;
  cursor: pointer;
}

.item-button-section .item-button-section-row div span{
  font-size: 12px;
}

.item-button-section .item-button-section-row div span:first-child{
  font-size: 17px;
  margin-right: 5px;
}

.item-button-section .item-button-section-row div.active{
  color: #AECB4F;
}

.item-content-section {
  margin-top: 20px;
  position: relative;
}

.item-content-section img {
  height: 100px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.item-content-viewall-section {
  position: absolute;
  bottom: 0;
  width: calc(100% - 40px);
  height: 60px;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.9));
}

.item-content-viewall {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #67616D;
  font-size: 10px;
  background-color: #D5EF7F;
  border-radius: 30px;
  border: 0;
  padding: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
}

.item-when-section {
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
}

.item-when-section .item-when-section-title{
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
  color: #8560A9;
  border-left: 4px solid #8560A9;
}

.item-when-section .item-when-section-row{
  display: table;
  width: 100%;
  margin-top: 20px;
}

.item-when-section .item-when-section-column{
  display: table-cell;
  width: 50%;
  text-align: center;
}

.item-when-section .item-when-section-column:first-child{
  border-right: 1px solid #E8E8E8;
}

.item-when-section .item-when-section-date span{
  font-size: 16px;
}

.item-when-section .item-when-section-date span:first-child{
  margin-right: 5px;
  color: #D5EF7F;
}

.item-when-section .item-when-section-time {
  color: #D5EF7F;
  margin-top: 10px;
}

.item-when-section .item-when-section-time span{
  font-size: 12px;
}

.item-when-section .item-when-section-time span:first-child{
  font-size: 32px;
  margin-right: 5px;
}

.item-where-section {
  border: 0;
  margin-top: 0px;
}

.item-where-name {
  margin-top: 15px;
  margin-bottom: 3px;
  font-weight: bold;
}

.item-where-name,
.item-where-address {
  color: #67616D;
  font-size: 14px;
}

.item-where-map {
  margin-top: 10px;
  padding-right: 20px;
}

.item-where-map img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.item-list-picture {
  height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
}

.item-list-picture .item-content-heart-white {
  margin-left: 0px;
}

.item-list-picture span {
  float: left;
}

.item-list-picture span:first-child {
  padding-left: 25px;
  padding-right: 10px;
  margin-top: 2px;
}

.item-list-picture span:nth-child(2) {
  width: 80px;
  margin-top: 5px;
  font-size: 12px;
  color: #67616D;
}

.item-list-picture .item-small-ava {
  margin-right: 10px;
}

.item-list-picture .item-small-ava img {
  width: 24px;
  border-radius: 50%;
  cursor: pointer;
}

.item-going-section {
  border-bottom: 0;
}

#comments {
  margin-top: 25px;
}

.item-footer-button-section {
  display: table;
  width: 350px;
  height: 56px;
  position : fixed;
  bottom: 0;
}

.item-footer-decline {
  display: table-cell;
  width: 15%;
  background-color: #8560A9;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
  color: rgb(170, 110, 229);
  cursor: pointer;
}

.item-footer-comment {
  display: table-cell;
  width: 65%;
  background-color: #8560A9;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
  color: rgb(170, 110, 229);
  cursor: pointer;
}

.item-footer-comment input{
  border-radius: 40px;
  height: 40px;
  border:none;
  width: 90%;
  padding-right: 5px;
  padding-left: 5px;
}

.item-footer-submit {
  display: table-cell;
  width: 20%;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
  color: #788C36;
  cursor: pointer;
  width: 20%;
  background-color: #D5EF7F;

}

.item-footer-button-col {
  display: table-cell;
  width: 25%;
  background-color: #8560A9;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
  color: rgb(170, 110, 229);
  cursor: pointer;
}

.item-footer-button-col:last-child {
  width: 50%;
  background-color: #D5EF7F;
  color: #788C36;
}
.item-footer-button-col:last-child.active {
  color: rgb(170, 110, 229);
}


.item-footer-button-col:last-child span:first-child{
  margin-right: 10px;
}
.picture-list {
  width: 60%;
  display: table-cell;
}
.picture-list img {
  width: 24px;
  border-radius: 50%;
  cursor: pointer;
  padding-right: 5px;
}
.going {
  width: calc(40% - 35px);
  display: table-cell;
  padding-left: 25px;
  padding-right: 10px;
  margin-top: 2px;

}
.going-info-section {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #E8E8E8;
  border-bottom: 0;
  display: table;
  width: 100%;
}
.going span:first-child {
 padding-right: 10px;
 margin-top: 2px;
}

.going span:nth-child(2) {
  width: 80px;
  margin-top: 5px;
  font-size: 12px;
  color: #67616D;
}
 .fa-heart.active {
   color: red;
 }