.content {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 320px;
  height: 572px;
  background-color: #8560A9;
}
.content .header-section {
  height: 60%;
  color: #D5EF7F;
  text-align: center;
}

.content .header-section img {
  display: block;
  margin: 0 auto;
}

.content .content-section {
  height: 40%;
}

.content .header-section h5{
  padding-top: 60px;
}

.content .header-section img{
  width: 50px;
}

.content .content-section .login-section {
  height: calc(100% - 64px);
}

.content .content-section .login-section .input-section{
  position: relative;
  margin: 0 auto;
  width: 70%;
  height: 36px;
  margin-bottom: 15px;
  border: none;
}

.content .content-section .login-section .input-section span{
  position: absolute;
  top: 10px;
  left: 20px;
  color: #D3C1E5;
}

.content .content-section .login-section .input-section input{
  border: 1px solid #D3C1E5;
  outline: 0;
  background-color: transparent;
  width: calc(100% - 45px);
  height: 100%;
  border-radius: 40px;
  padding-left: 45px;
  font-size: 16px;
}

.content .content-section .login-section .input-section input:focus{
  color: #453257;
  background-color: rgba(255,255,255, 0.2);
}

.content .content-section .login-section .input-section input::-webkit-input-placeholder {
  color: #AC8EC9;
}

.content .content-section .footer-section {
  height: 64px;
}

.content .content-section .footer-section input {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  background-color: #D5EF7F;
  color: #453257;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}