
.search-result {
  height: 68px;
  width: 100%;
}

.clear_search{
 padding-top: 20px;
 
}

.channel_name {
  padding-top: 20px;
  text-align: center;
}

.clear_search_span{
  background-color: #D5EF7F;
  border-radius: 30px;
  height: 30px;
  width: 120px;
  text-align: center;
  line-height: 30px;
}

.search-result .left-icon {
  color: #8560A9;
}
.clear_search span {
  cursor: pointer;
}
.fa.fa-search{
  cursor: pointer;
}

.header .searchOption span {
  cursor: pointer;
}